@def $EC2_INSTANCE_ETH0_IPV4_ADDRESS = `echo $EC2_INSTANCE_ETH0_IPV4_ADDRESS`;
@def $EC2_INSTANCE_ETH0_IPV4_CIDR = `echo $EC2_INSTANCE_ETH0_IPV4_CIDR`;
@def $EC2_INSTANCE_ETH0_IPV6_ADDRESS = `echo $EC2_INSTANCE_ETH0_IPV6_ADDRESS`;
@def $EC2_INSTANCE_ETH0_IPV6_CIDR = `echo $EC2_INSTANCE_ETH0_IPV6_CIDR`;
@def $EC2_INSTANCE_ETH0_IPV4_VPC_CIDR = `echo $EC2_INSTANCE_ETH0_IPV4_VPC_CIDR`;
@def $EC2_INSTANCE_ETH0_IPV6_VPC_CIDR = `echo $EC2_INSTANCE_ETH0_IPV6_VPC_CIDR`;
