[Unit]
Description=for Easy Rule Making
After=network-online.target
Wants=network-online.target
After=kresd.target
Wants=kresd.target
After=nss-lookup.target
Wants=nss-lookup.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/ferm /etc/ferm/ferm.conf
ExecStop=/usr/sbin/ferm -F /etc/ferm/ferm.conf

[Install]
WantedBy=multi-user.target
